BOT_TOKEN=123456789:ABCDEF...
TELEGRAM_CHAT_ID=@your_channel

POLL_SECONDS=1.0
REQUEST_LIMIT=5000
CONCURRENCY=5
DEFAULT_MIN_VALUE_RUB=2000000

SEND_HISTORY_ON_START=false
SEND_START_MESSAGE=false

ALERT_QUEUE_SIZE=5000
SEND_WORKERS=2

CONFIG_PATH=config.yaml

SELF_PING_URL=
SELF_PING_INTERVAL_SECONDS=300
