# T-Bank Invest API токен (получить в приложении Т-Банк → Инвестиции → Настройки → API)
TINVEST_TOKEN=t.2Bn2RENvnl5vB4jUqt2Mw-8GflP0VJ9WmH8DEAoQ8kbwvM3hu0j_-VGV8qUY4lMAxjlNG4iAzmTlpJvDjrUKPQ

# Telegram
BOT_TOKEN=8799498968:AAEwmpVfSRog12u2_0uEWlSx3z8pECcBydM
TELEGRAM_CHAT_ID=-1003979631185

# Настройки бота
DEFAULT_MIN_VALUE_RUB=2000000
SEND_START_MESSAGE=false

# Очередь алертов
ALERT_QUEUE_SIZE=10000
SEND_WORKERS=3

# Self-ping для Render
SELF_PING_URL=
SELF_PING_INTERVAL_SECONDS=300
