aiogram>=3.7.0,<4
httpx>=0.27.0,<1
PyYAML>=6.0.1,<7
python-dotenv>=1.0.1,<2
aiohttp>=3.9.5,<4

# T-Bank Invest SDK (устанавливаем с GitHub, ветка main)
tinkoff-investments @ git+https://github.com/RussianInvestments/invest-python.git

# Зависимости tinkoff-invest
grpcio>=1.64.0
grpcio-tools>=1.64.0
protobuf>=4.25.0,<6
cachetools>=5.0.0
